@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lexend', sans-serif;
}

/* ALERTA */
.alert {
    width: 100%;
    background-color: #369D45;
    color: #E5E5E5;
    display: flex;
    justify-content: center;
    font-size: medium;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 900;
    font-size: 14px;
}


.since, .telephone-number {
    font-weight: 300;
}

.alert a {
    text-decoration: none;
    color: #E5E5E5;
}

.alert-container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0.6rem 1.4rem 1.4rem  ;
}

.alert-text {
    justify-content: center;
}

/* MENU */

.menu {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    align-items: center;
    margin: 20px;
}

.menu-links a:hover {
    color: #65B741;
}

.menu-links a {
    text-decoration: none;
    /* font-family: "Roboto", sans-serif; */
    color: #000;
    font-size: 16px;
    font-weight: 700;

}

.menu-itens {
    display: flex;
    width: 1400px;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 120px;
}

.profile {
    display: flex;
    gap: 20px;
    margin: 12px;
}

.profile img { 
    height: 36px;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 28px;
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    outline: none;
    border: none;
    background-color: #f6f6f6;
    width: 320px;
}

.cart img{
    color: #000;
}


/* HERO */

main {
    width: 1400;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 80px;
    /* padding: 80px; */
}

.hero img {
    height: 75vh;
}

.hero h4 {
    padding-bottom: 15px;
}

.hero h1 {
    color: #65B741;
    font-weight: 800;
    font-size: 42px;
}

.hero-content span{
    border-bottom: solid thin #369D45 ; 
}

.hero p {
    padding: 10px 0 36px;
}
/* CSS */
.compre {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.1em;
  border-radius: 20em;
  cursor: pointer;
}

#compre:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e;
}

#compre:active {
  box-shadow: 0 0.7em 1em -0.5em #14a73e98;
}